:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-purple: #620085;
  --color-yellow: #f3f3f3;
  --color-red: #FF0000;
  --color-cyan: #00ffea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* font-family: 'Comfortaa', 'Roboto', Courier; */
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-purple);
  margin: 0;
}

h1 {
  font-weight: 400;
  line-height: 1.5;
  font-size: 2rem;
  background-color: #42a9a8;
  color: var(--color-white);
  text-align: center;
}

p {
  font-size: 1.125rem;
}


h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input-text {
  display: inline-block;
  margin-left: 3rem;
}

label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin: 1.5rem;
}

.form-group .score {
  margin-top: -0.3rem;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 3.125rem auto;
}

.form-group .number-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #42a9a8;
  font-size: 1rem;
  border: 3px solid #42a9a8;
  display: inline-block;

}

.form-group p {
  display: inline;
  padding-left: 3px;
}

@media (min-width: 567px) {
  .container {
    max-width: 540px;
  }
}


@media (min-width: 768px) {

  /* rules here apply to devices from from 768px to 991px (inclusive) */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  /* rules here apply to devices from 992px to 1199px (inclusive) */
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {

  /* rules here apply to devices 1200px and greater */
  .container {
    max-width: 1044px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  color: var(--color-white);
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: var(--color-purple);
}

.text-center {
  text-align: center;
}

form {
  background: var(--color-yellow);
  padding: 2.5rem 0.625rem;
  box-shadow: 10px 20px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0.375rem 0.75rem;
  background: var(--color-white);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control1 {
  display: block;
  width: 7%;
  height: 2rem;
  padding: 0.4 rem 0.2rem;
  background: var(--color-white);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border: 2px solid var(--color-cyan);
  outline: 0;
  box-shadow: 5px 10px var(--color-darkblue);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  border: 2px solid var(--color-red);
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea:focus {
  border: 2px solid var(--color-cyan);
  outline: 0;
  box-shadow: 5px 10px var(--color-darkblue);
}

.submit-button {
  display: block;
  width: 40%;
  height: 80%;
  padding: 0.75rem;
  background-color: #F3A400;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: auto;
}


.submit-button:hover {
  border: 2px solid var(--color-cyan);
  box-shadow: 5px 10px var(--color-darkblue);
}

